.grid_textStyle_W
{
    color: #FFFFFF !important;
    font: 12px arial, sans-serif !important;
    width: 80px !important;
}

.grid_textStyle_B
{
    color: #000000 !important;
    font: 12px arial, sans-serif !important;
    width: 80px !important;
}
