/* For Dialog_CSV_Load.js */
.ui-dialog-title{
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
td {
    font-size: 12px;
    padding: .2em .5em;
    border: solid 1px "ccc;"
}
