/* For Dialog_CSV_Load.js */
.ui-dialog-title{
    text-align: center;
}
.no-close .ui-dialog-titlebar-close {
    display: none;
}

#dialog_CSV_Load table {
    border-collapse: collapse;
    border-spacing: 0;
}
#dialog_CSV_Load td {
    font-size: 12px;
    padding: .2em .5em;
    border: solid 1px "ccc;"
}
